p {
    color: eff1f3;
}
b{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 68.75rem;
    margin: auto;
    color: eff1f3;
    border: 5px solid whitesmoke;
    border-radius: 15px;
    padding: 5px;
    outline-style: inset;
    outline-style: solid;
    outline-color: rgb(18, 160, 165);
    outline-width: thick;
    box-shadow: 10px 10px 5px blue;
}
body{
    background-image: url(img/cole-patrick-hpCHLFknc2s-unsplash.jpg);
    background-color: 00a5e0;
    color: eff1f3;
}
table{
    border: 5px solid grey;
    border-radius: 15px;
    outline-style: inset;
    outline-style: solid;
    outline-color: whitesmoke;
    outline-width: thick;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: 223843;
    border: 5px solid black;
    border-radius: 15px;
    outline-style: inset;
    outline-style: solid;
    outline-color: whitesmoke;
    outline-width: thick;
    position: sticky;
    top: 0;
    box-shadow: 10px 10px 5px blue;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover:not(.active) {
    background-color: #111;
  }
  .active {
    background-color: 00a5e0;
  }
  li {
    border-right: 1px solid #bbb;
  }
  li:last-child {
    border-right: none;
  }
h1{  width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    font-family: Georgia;
    font-size: xx-large;
    color: eff1f3;
}
h2{ 
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
    font: Georgia;
    font-size: large;
    color: eff1f3;
}
h3{
    font: Georgia;
    font-size:medium;
    color: eff1f3;
}
h4{
    font: Georgia;
    font-size:medium;
    color: eff1f3;
}
h5{
    font: Georgia;
    color: 223843;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: var(--bottom-margin-2);
    max-width: 40.75rem;
    margin: 0 auto;
    padding: 0.938rem;
    border-radius: 5px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    line-height: 2.7em;
    font-weight: var(--bold-font);
    color: whitesmoke;
    min-height: 6.25rem;
    font-size: 14px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: none;
    border: 2px outset var(--primary-color);
    font-size: 0.875rem;
    outline: none;
  
}
.about{
    display: flex;
    height: 600px;
    padding: 50px;
}
.about_image1{  
    flex: 50%;
    position: relative;
    text-align: center;
    background-image: url(img/Portfoliophoto.img.JPG);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.about_image2{
    flex: 50%;
    position: relative;
    text-align: center;
    background-image: url(img/IMG_0391.img.JPG);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.about_image3{
    flex: 50%;
    position: relative;
    text-align: center;
    background-image: url(img/fakurian-design-hJzSyP1CLMg-unsplash.img.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

<!--eff1f3 cultured,223843 gunmetal,00a5e0 cyanprocess-->